.HomeComponent {
    margin-bottom:  24em;
    float: top;
}

.HomeText {
    color: white;
    text-align: center;
    float: right;
}

.btnn{
   float: right;
}

.infogrid{
    color:white;
    justify-content: center;
    text-align: center;
    margin-right: 2em;
}
