.HomeComponent {
    margin-bottom:  24em;
    float: top;
}

.HomeText {
    color: white;
    text-align: center;
    float: top;
    width: 100%;
}

.btnn{
    margin-top: 2em;
}

.col1{
    display: flex;
    width: 100%;
}
.col2{
    display: flex;
    justify-content: center;
    align-items: center;
}
