.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datedaygrid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-direction: column;
    margin-bottom: 14rem;
}

.date {
    text-align: center;
    color: #f0f0f0;
    margin: 2rem;
    font-size: 40px;
}

.menu {
    width: 100%;
    min-width: 500px;
    max-width: 600px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-header h2 {
    margin: 0;
}

.menu-items {
    border-top: 1px solid #ccc;
    margin-left: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2px;
}

.menu-item:hover {
    background-color: #e0e0e0;
}

.menu-item:first-child {
    border-top: none;
}

.menu-header .form-control {
    margin: 0 10px;
}

.menu-item.selected {
    outline: 2px solid #2CBFA4;
    /*nigdy prze nigdy nie używamy ujemnych wartości w css'ie 👹*/
    outline-offset: 2px;
}

.menu .clear-button {
    margin-top: 10px;
}

.menu-item.daily-task {
    background-color: rgba(24, 158, 220, 0.941)
}

.menu-item>span {
    flex-grow: 1;
}

.menu-item>div {
    display: flex;
    gap: 5px;
}

/*.day-with-tasks {
  background-color: #ff0;
}*/
.centered-caption {
    text-align: center;
}

.form-control-margin {
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}